

.background, .education, .experience {

    h4 {
        color: #fff;
        margin-bottom: .5rem;
    }
    
    
    
    hr{
        background-color: #87C03D;
        height: 1px; 
        border: 0;
        margin-bottom: 2rem;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     height: .3rem;
        //     width: 4%;
        //     margin-top: -.2rem;
        //     background-color: #87C03D;
        // }
    }
        
    p {
        color: #fff;
        margin-bottom: 2rem;
    }
    
    ul {
        margin-bottom: 2rem;
        li {
            list-style-type: none;
            color: #fff;
            margin-bottom: 1rem;
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    background: #2A3547;
    column-gap: 3rem;
    width: 100%;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        img {
            border-radius: 500px;
            width: 60%;
            height: 150px;
        }
    }

    .intro {
        // width: 35%;
    }

    .details {
        color: #fff;
        margin-bottom: 3rem;
        position: relative;
        h2 {
            color: #fff;
            span {
                color: #87C03D;
            }
        }

        h4 {
        }

        &::after {
            content: "";
            position: absolute;
            height: .2rem;
            width: 100%;
            margin-top: 1rem;
            background-color: #87C03D;
        }
    }
    .contact {
        display: flex;
        column-gap: 3rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        &__item {
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 1rem;
            margin-bottom: 1rem;

            img {
                background: #87C03D;
                padding: .5rem;
                width: 8%;
                border-radius: 5px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

}

.background {
    padding-right: 1rem;
    height: 95vh;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
        width: .6rem;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
        display: none;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
        height: 2rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.achievement, .cover {
    // background-color: #2A3547;
    padding: 1rem;

    .education, .experience {

        h4 {
            color: #87C03D;
        }

        li, p {
            color: rgb(62, 62, 62);
        }
    }
}

.cover {
    
    h3 {
        margin-bottom: 1rem;
    }
    
    p {
        margin-bottom: 1rem;
    }
}

//Progress Bar


.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 5px;
	// width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	// box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
