.header {
    display: flex;
    background: #2A3547;
    column-gap: 3rem;
    padding: 2rem;

    .image {
        width: 25%;
        
        img {
            width: 100%;
            height: 25rem;
        }
    }

    .intro {
        width: 35%;
    }

    .details {
        color: #fff;
        margin-bottom: 3rem;
        h2 {
            color: #fff;
            span {
                color: #87C03D;
            }
        }

        h4 {
        }

        &::after {
            content: "";
            position: absolute;
            height: .2rem;
            width: 5%;
            margin-top: 1rem;
            background-color: #87C03D;
        }
    }
    .contact {
        display: flex;
        width: 80%;
        column-gap: 3rem;
        flex-wrap: wrap;

        &__item {
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 1rem;
            margin-bottom: 1rem;
            img {
                background: #87C03D;
                padding: .5rem;
                width: 5%;
                border-radius: 5px;
            }
        }
    }

}

.background {

    h4 {
        color: #fff;
        margin-bottom: .5rem;
    }
    
    
    
    hr{
        background-color: #87C03D;
        height: 1px; 
        border: 0;
        margin-bottom: 2rem;

        &::before {
            content: "";
            position: absolute;
            height: .3rem;
            width: 4%;
            margin-top: -.2rem;
            background-color: #87C03D;
        }
    }
        
    p {
        color: #fff;
        margin-bottom: 2rem;
    }
    
    ul {
        margin-bottom: 2rem;
        li {
            list-style-type: none;
            color: #fff;
            margin-bottom: 1rem;
        }
    }
}

.achievement {
    background-color: #2A3547;
}