* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins;
    max-width: 1200px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;
    
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.4rem;
}

li {
    font-size: 1.4rem;
}

.App {
    min-height: 100%;
    position: relative;
}

.main {
    display: flex;
}

.app-achievment {
    margin-left: 38rem;
    width: 70rem;
    height: 100vh;
}

.app-background {
    position: fixed;
    width: 32rem;
    background: #2A3547;
    padding: 3rem;
}


.switch-button {
  background: #87C03D;
  border-radius: 30px;
  overflow: hidden;
  width: 24rem;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #2A3547;
  position: relative;
  padding-right: 12rem;
  position: absolute;
  bottom: 30px;
  

  &:before {
    content: "cover letter";
    content: "cover letter";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX(120px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}
