:root {
  //Color
  --background-color: #2A3547;
  --svg-color: #F2709C;
  --primary-color: #87C03D;

  //Toggle
  --line: #505162;
  --dot: #87C03D;
  --circle: #9EA0BE;
  --duration: .3s;
  --text: #9EA0BE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
        @media (max-width: 75em) {
        font-size: 56.25%;
      }

    @media (max-width: 56.25em) {
        font-size: 50%;
      }

    @media (max-width: 26em) {
        font-size: 40.25%;
      }

}

body {
    font-family: Poppins;
    max-width: 1300px;
    margin: auto;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100vh;
    
    @media (max-width: 26em) {
      box-shadow: none;
      }
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.2rem;
}

p {
    font-size: 1.8rem;
}

li {
    font-size: 1.8rem;
}

.App {
    min-height: 100%;
    position: relative;
}

.main {
    display: flex;
    @media (max-width: 56.25em) {
        flex-direction: column;
      }
}

.app-achievment {
    margin-left: 38rem;
    width: 70rem;
    height: 100%;
    
    @media (max-width: 56.25em) {
      width: 100%;
      height: 100vh;
      margin-left: 0;
      padding: 2rem;
    }
    
    @media (max-width: 26em) {
      height: 75vh;
    }
}

.app-background {
    position: fixed;
    width: 35rem;
    background: #2A3547;
    padding: 3rem;

    @media (max-width: 56.25em) {
      width: 100%;
      position: relative;
      }
}


.toggle {
  display: flex;
  padding: 1rem;
  overflow: hidden;
  // position: absolute;
  bottom: 1rem;
}

label {
  pointer-events: none;

  .input {
    display: none;

    &:checked + .toggle-wrapper {
      box-shadow: 0 8px 14px 0 rgba(darken(#3957ee, 12%), 0.12);
    }

    &:checked + .toggle-wrapper > .selector {
      left: calc(100% - 4rem);
      background-color: #3957ee;
    }

    &:checked ~ .notification > .selected:before {
      content: 'Cover Letter';
      font-size: 1.2rem;
    }
  }

  .toggle-wrapper {
    position: relative;
    width: 10rem;
    height: 4rem;
    background-color: #eaeaea;
    border-radius: 999px;
    margin: auto;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 8px 14px 0 rgba(darken(#ee5f39, 12%), 0.12);
    margin-bottom: 1rem;

    .selector {
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      background-color: #ee5f39;
      transition: left 0.25s ease;
      border-radius: 50%;
    }
  }

  .notification {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;

    .selected:before {
      content: 'Resume';
      font-size: 1.2rem;
      border-bottom: 2px solid;
    }
  }
}
