* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins;
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}